@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*===== VARIABLES CSS Y SASS =====*/
/*Varibles sass*/
/*Variables css*/
/*===== Colores =====*/
:root {
  --first-color: #998f90;
  --primary: #c0b9b8e5;
  --second-color: #33303D;
  --black-color: #111111;
  --white-color: #FFF;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 1.5rem;
  --big-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3.25rem;
    --big-font-size: 2.25rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.813rem;
  }
}

body {

  font-family: var(--body-font);
  background-color: var(--white-color);
  color: var(--black-color);
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

/*=====  LAYOUT =====*/
.bd-grid {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*===== Home =====*/
.home {
  height: calc(100vh - 3rem);
  display: -ms-grid;
  display: grid;
  grid-template-areas: 'fundo';
  overflow: hidden;

}

/*===== fundo =====*/
.fundo {
  /* -ms-grid-row: 1;
  -ms-grid-column: 1; */
  grid-area: fundo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem 0;
  position: relative;
}

.fundo__figure {
  width: 240px;
  height: 240px;
  background-color: var(--primary);
  border-radius: 50%;
  -webkit-transition: .5s;
  transition: .5s;
}

.fundo__img {
  width: 300px;
  position: absolute;
  top: 2%;
  left: .2%;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  transform: rotate(18deg);

  -webkit-filter: drop-shadow(0px 10px 10px rgba(17, 17, 17, 0.4));
  filter: drop-shadow(0px 10px 10px rgba(17, 17, 17, 0.4));
}



/*===== Dados =====*/
.produto {
  margin-bottom: 1.5rem;
}

.produto a:hover {
  color: rgba(255, 0, 0, 0.473);
}

.produto__subtitle {
  font-size: var(--normal-font-size);
  font-weight: 500;
}

.produto__title {
  font-size: var(--biggest-font-size);
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.produto__description {
  font-size: 18px;
  margin-bottom: 0.5rem;
  line-height: 1.3;
  color: var(--second-color);
}


/*===== Quantidade =====*/
.quant__title {
  font-size: var(--normal-font-size);
  margin-bottom: 0.5rem;
}

.quant__content {
  width: 100px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--white-color);
  padding: .5rem;
  border-radius: .25rem;
}

.quant__content .menos:hover,
.mais:hover {
  cursor: pointer;
  color: rgb(102, 7, 7);
}

/*===== Preci =====*/
.preco {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 83px;
  background-color: var(--white-color);
  border-radius: 1.5rem 1.5rem 0 0;
  -webkit-box-shadow: 0px 0px 20px rgba(17, 17, 17, 0.25);
  box-shadow: 0px 0px 20px rgba(17, 17, 17, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1rem;
}

.preco__title {
  font-size: var(--big-font-size);
  color: var(--black-color);
}

.preco__button {
  color: var(--white-color);
  padding: 1.25rem 3.125rem;
  border-radius: .5rem;
  background-color: rgb(204, 19, 19);
}

.preco__button:hover {
  color: red;
  background-color: rgb(161, 12, 12);
  color: var(--white-color);
}

























/*===== MEDIA QUERIS =====*/

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}




@media screen and (min-width: 968px) {

  .home {
    height: 100vh;
    -ms-grid-columns: max-content max-content;
    grid-template-columns: -webkit-max-content -webkit-max-content;
    grid-template-columns: max-content max-content;
    -ms-grid-rows: max-content;
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 6rem;
    column-gap: 6rem;
  }

  .fundo__figure {
    width: 430px;
    height: 430px;
  }

  .fundo__img {
    width: 500px;
    top: 5%;
    left: 0;
  }

  .info {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    max-width: 400px;
    margin-top: 2.5rem;
  }

  .produto__subtitle {
    font-size: 1.5rem;
  }

  .produto__title {
    margin-bottom: 1rem;
  }

  .size {
    margin-bottom: 2.5rem;
  }

  .preco {
    position: initial;
    background-color: initial;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .precio__title {
    color: var(--black-color);
    font-weight: 500;
  }
}




@media screen and (max-width: 320px) {

  .home {
    height: 100vh;
    -ms-grid-columns: max-content max-content;
    grid-template-columns: -webkit-max-content -webkit-max-content;
    grid-template-columns: max-content max-content;
    -ms-grid-rows: max-content;
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 6rem;
    column-gap: 6rem;
  }

  .fundo__figure {
    width: 200px;
    height: 200px;
  }

  .fundo__img {
    width: 200pxpx;
    top: 4%;
    left: 0;
  }

  .info {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    max-width: 400px;
    margin-top: 2.5rem;
  }

  .produto__subtitle {
    font-size: 1.5rem;
  }

  .produto__title {
    margin-bottom: 1rem;
  }

  .size {
    margin-bottom: 2.5rem;
  }

  .preco {
    position: initial;
    background-color: initial;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .precio__title {
    color: var(--black-color);
    font-weight: 500;
  }
}